[submodule "CMake-Ep002"]
	path = CMake-Ep002
	url = https://github.com/dev-clement/CMake-Ep002.git
[submodule "CMake-Ep003"]
	path = CMake-Ep003
	url = https://github.com/dev-clement/CMake-Ep003.git
[submodule "CMake-Ep004"]
	path = CMake-Ep004
	url = https://github.com/dev-clement/CMake-Ep004.git
[submodule "CMake-Ep005"]
	path = CMake-Ep005
	url = https://github.com/dev-clement/CMake-Ep005.git
[submodule "CMake-Ep006"]
	path = CMake-Ep006
	url = https://github.com/dev-clement/CMake-Ep006.git
[submodule "CMake-Ep007"]
	path = CMake-Ep007
	url = https://github.com/dev-clement/CMake-Ep007.git
[submodule "CMake-Ep008"]
	path = CMake-Ep008
	url = https://github.com/dev-clement/CMake-Ep008.git
[submodule "CMake-Ep009"]
	path = CMake-Ep009
	url = git@github.com:dev-clement/CMake-Ep009.git
[submodule "CMake-Ep011"]
	path = CMake-Ep011
	url = git@github.com:dev-clement/CMake-Ep011.git
[submodule "CMake-Ep010"]
	path = CMake-Ep010
	url = git@github.com:dev-clement/CMake-Ep010.git
[submodule "CMake-Ep012"]
	path = CMake-Ep012
	url = git@github.com:dev-clement/CMake-Ep012.git
[submodule "CMake-Ep013"]
	path = CMake-Ep013
	url = git@github.com:dev-clement/CMake-Ep013.git
[submodule "CMake-Ep020"]
	path = CMake-Ep020
	url = git@github.com:dev-clement/CMake-Ep020.git
